@model IEnumerable<BookMyTickets.Models.Show>

@{
    ViewData["Title"] = "findShowsBookingPhase2";
}

<style>
    .page-wrapper,
    .content-wrapper {
        background: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    .content-wrapper {
        margin-top: 1vh;
        margin-bottom: 0vh;
        margin-left: 4vw;
        margin-right: 4vw;
        padding: 2vh 2vw;
    }
</style>


<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card" style="width: 18rem;">
                        <img src="@ViewBag.Url" class="card-img-top">
                    </div>
                </div>
                <div class="column">
                    <h2> Movie Name:- @ViewBag.MovieName</h2>
                    <b>Movie Language:-</b>
                    <p>@ViewBag.Language</p>
                    <b>Movie Genre:-</b>
                    <p>@ViewBag.Genre</p>
                    <b>Movie Director:-</b>
                    <p>@ViewBag.Director</p>
                    <b>Movie duration:-</b>
                    <p>@ViewBag.Duretion min.</p>
                    <b>Movie releaseDate:-</b>
                    <p>@ViewBag.ReleaseDate</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container" style="margin:4rem;">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <table>
                            <tr>
                                <td><b>Show Id:-</b></td>
                                <td>@Html.DisplayFor(modelItem => item.ShowId)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Theater Name:-</b></td>
                                <td>@Html.DisplayFor(modelItem => item.TheaterName)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Show Starting Time:-</b></td>
                                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                <td>
                                    @using (Html.BeginForm("seatSelectionBookingPhase3", "Bookings", FormMethod.Post))
                                    {
                                        <b>Enter Show Id</b>
                                        @Html.TextBox("ShowId")
                                        <input type="submit" class="btn btn-primary" value="Buy Tickets for This Show">
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>Show Date:-</b></td>
                                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Price per seat:-</b></td>
                                <td>@Html.DisplayFor(modelItem => item.Price) Rs.</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                }
        </div>
    </div>
    <hr />
