@model BookMyTickets.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNo3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Show)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Show.ShowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
